* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  color: #fff;
  height: 1;
  min-height: 100vh;
  background-color: #000000bb;
}

.Task-List {
  padding: 20px 10%;
}

.Task-List-title {
  font-size: 3rem;
  text-align: center;
  padding: 20px 0;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
}

/* ---------------- task 1 --------------------  */

.task-4 input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 15px;
}

.task-btn {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 7px;
  background-color: rgb(77, 190, 77);
  color: #fff;
  margin: 6px 0;
}

/* ----------------------- task-4 -----------------  */

.task-4 {
  width: 31%;
  font-size: 1.5rem;
}

/* ---------------- task-5 -----------------  */

.task-5 {
  width: 30%;
}

/* ----------------- task-9 ------------------- */
.task-9 {
  width: 49%;
  font-size: 1.5rem;
}

.task-9 input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 15px;
  width: 80%;
}

@media (max-width: 800px) {
  .Task-List-title{
    font-size: 2.2rem;
  }
  .task-container {
    flex-direction: column;
  }
  .task-4,
  .task-9 {
    width: 100%;
    font-size: 1.2rem;
  }
  .task-4 input,
  .task-9 input {
    width: 90%;
  }
}


.second-page{
  height: 40vh;
  text-align: center;
  padding: 2rem 0;
}